#
# Set backgrond
#

[Unit]
Description=Set backgrounds

[Service]
ExecStart=/usr/bin/feh --randomize --bg-scale /usr/share/backgrounds/gnome/

[Install]
WantedBy=default.target

