#
# Service for Clipmenu
#

[Unit]
Description=Clipmenu daemon

[Service]
ExecCondition=/usr/bin/bash -c 'pgrep -x "qtile|i3|openbox" > /dev/null'
ExecStart=/usr/bin/clipmenud
Restart=on-failure
RestartSec=3
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority

[Install]
WantedBy=default.target

