[Unit]
Description=Clipmenu daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/clipmenud
Restart=on-failure
RestartSec=5

Environment=DISPLAY=:0
# Environment=WAYLAND_DISPLAY=wayland-0

[Install]
WantedBy=graphical-session.target
