#
# Timer for update yay polybar module
#

[Unit]
Description=Update yay polybar module

[Timer]
OnCalendar=*-*-* *:0,30
Persistent=true
# AccuracySec=1us

[Install]
WantedBy=timers.target

