#
# Service for set backgronds
#

[Unit]
Description=Set backgrounds service

[Service]
ExecStart=/usr/bin/feh --randomize --bg-scale /usr/share/backgrounds/archlinux/

[Install]
WantedBy=default.target

