#
# Service for set backgronds
#

[Unit]
Description=Set backgrounds service
After=default.target

[Service]
Type=oneshot
ExecCondition=/usr/bin/bash -c 'pgrep -x "qtile|i3|openbox" > /dev/null'
ExecStart=/usr/bin/feh --randomize --bg-scale /run/mount/storage/local/backgrounds/

[Install]
WantedBy=default.target

