#
# Service for set backgronds
#

[Unit]
Description=Set backgrounds service

[Service]
ExecCondition=/usr/bin/bash -c '[[ "$XDG_SESSION_DESKTOP" =~ (qtile|i3|openbox) ]]'
ExecStart=/usr/bin/feh --randomize --bg-scale /usr/share/backgrounds/archlinux/

[Install]
WantedBy=default.target

